* {
   overflow: hidden;
}

html {
   width: 90%;
   height: 90%;
   background: url("../img/grid.gif") center/110% no-repeat;
}

body {
   background-color: rgb(15, 15, 15);
}

h1 {
   font-family: "Josefin Sans", sans-serif;
   font-size: 2rem;
   text-justify: distribute;
   color: rgb(255, 248, 238);
   position: absolute;
   top: 43vh;
   left: 41vw;
}

h1 a {
   color: rgb(133, 133, 133);
}
h1 a:hover {
   color: rgb(197, 197, 197);
}

p {
   font-family: "Rubik", sans-serif;
   font-size: 2rem;
   color: blanchedalmond;
}

spacer {
   margin-top: 5px;
   margin-bottom: 5px;
}

.arrowBlink {
   width: 100px;
   transition: transform .2s;
}
.arrowBlink:hover {
   transform: scale(1.2);
}

.blur {
   position: absolute;
   top: 28vh;
   left: 35vw;
   background: rgb(15, 15, 15);
   height: 450px;
   width: 470px;
   filter: blur(20px);
}
